<div>
  <div>
    <p>
      &copy; 2024 Chobble
    </p>
    <p>
      Ethical web services in Prestwich, Manchester
    </p>
  </div>
  <div>
    <p>
      Our code is
      <a
        target="_blank"
        href="https://www.gnu.org/licenses/agpl-3.0.en.html"
      >
        AGPLv3 licensed
      </a>
    </p>
    <p>
      We donate <a href="https://blog.chobble.com/blog/25-01-04-against-malaria/">10%</a> to the
      <a
        target="_blank"
        href="https://www.againstmalaria.com"
      >
        Against Malaria Foundation
      </a>
    </p>
  </div>
  <div>
    <p>
      <a href="https://www.facebook.com/profile.php?id=61571286130366">
        Facebook
      </a>
    <p>
      <a href="https://blog.chobble.com">Our blog</a>
    </p>
    <p>
      <a href="https://git.chobble.com/chobble">Our source code</a>
    </p>
  </div>
</div>

