---
layout: base.html
---

{{ content }}

<section class="gallery-images grid hidden">
  {% for image in collections.images %}
  <article>
    <button tabindex="0" popovertarget="image-{{ forloop.index }}">
      <img
        alt=""
        loading="lazy"
        src="/images/{{ image }}"
        sizes="
            (max-width: 660px) 400px,
            (min-width: 600px) 200px
          "
      />
    </button>

    <div popover id="image-{{ forloop.index }}" class="popover-container">
      <button
        class="close-btn"
        popovertarget="image-{{ forloop.index }}"
        popovertargetaction="hide"
      >
        &times;
      </button>
      <img
        src="/images/{{ image }}"
        alt=""
        loading="lazy"
        class="popover-img"
      />
    </div>
  </article>
  {% endfor %}
</section>
