---
layout: base.html
---

<div class="home">
  <h1>{{ heading }}</h1>
  <div class="top">
    <a class="card" href="/services/">
      <span>Services</span>
      <img
        src="/assets/network.svg"
        width="150"
        height="150"
        alt="">
    </a>
    <a class="card" href="/prices/">
      <span>Prices</span>
      <img
        src="/assets/store.svg"
        width="150"
        height="150"
        alt="">
    </a>
    <a class="card" href="/examples/">
      <span>Examples</span>
      <img
        src="/assets/examples.svg"
        width="150"
        height="150"
        alt="">
    </a>
    <a class="card" href="/contact/">
      <span>Contact</span>
      <img
        src="/assets/contact.svg"
        width="150"
        height="150"
        alt="">
    </a>
  </div>
  <div class="content">
    {{ content }}
  </div>
</div>
