@use "sass:color";

$text-color: #bbb;

$body-bg: #111;
$accent-bg: #fff;

$brand-fg: #fff;
$header-fg: #bbb;
$header-fg-active: #fff;

$main-fg: #bbb;
$main-link: #fff;

$main-accent-bg: #f8e4ff;
$main-accent-link: #561d68;

$main-heading: #fff;

$footer-bg: #b35300;
$footer-fg: #ffffff;
$footer-link: #ffffff;

$system-font:
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", sans-serif;

$header-font: "Geo", $system-font;
$body-font: "Roboto Condensed", $system-font;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: $text-color;
  font-family: $body-font;
  line-height: 1.6;
  min-height: 100vh;
  background: $body-bg;
  overflow-x: hidden;
  padding: 0 10px;
  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
  &.home {
    height: auto;
    min-height: auto;
  }
}

.homepage-image {
  display: block;
  max-width: 100%;
  width: 600px;
  height: auto;
  margin: 0 auto 2rem;
}

.gallery-images {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;

  div.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 789px) {
    gap: 20px;
    div.column {
      gap: 20px;
    }
  }

  &.hidden {
    display: none;
  }

  &:has([popover]:popover-open) {
    pointer-events: none;
  }

  [popover] {
    pointer-events: auto;
  }

  button {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    background: $body-bg;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: zoom-in;

    &:hover,
    &:active {
      picture {
        opacity: 0.7;
      }
    }

    picture {
      display: block;
      width: 100%;
      height: auto;
      border: 1px solid black;
      transition: opacity 0.2s ease-in;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .popover-container {
    --close-size: 2rem;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &::backdrop {
      background: rgba(0, 0, 0, 0.75);
    }

    .close-btn {
      position: fixed;
      top: 1rem;
      right: 1rem;
      width: var(--close-size);
      height: var(--close-size);
      border-radius: 50%;
      border: 0;
      background: $body-bg;
      color: $main-fg;
      border: 2px solid $main-fg;
      font-size: 2rem;
      font-family: $header-font;
      cursor: pointer;
      display: grid;
      place-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition:
        transform 0.2s,
        opacity 0.2s;
      z-index: 3;
      pointer-events: auto;
      opacity: 0.7;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }

      @media (max-width: 768px) {
        --close-size: 2.5rem;
      }
    }

    .popover-img {
      display: block;
      max-width: 90vw;
      max-height: 90vh;
      width: auto;
      height: auto;
      position: relative;
      pointer-events: auto;
      box-shadow: 0 0 10px $body-bg;
    }
  }
}

.faq {
  position: relative;
  .faq-background {
    max-width: 40%;
    height: auto;
    shape-outside: url("/assets/faq.webp");
    shape-margin: 10px;
    float: right;
  }
  @media (min-width: 768px) {
    .faq-background {
      position: fixed;
      top: 60px;
      left: 60%;
    }
    .faq-content {
      max-width: 60%;
    }
  }
}

.clear {
  clear: both;
}

// Typography
ul,
ol {
  padding-left: 2rem;
  margin: 1rem 0;
  line-height: 1;

  li {
    margin-bottom: 0.5rem;
  }
}

h1,
h2 {
  color: $main-heading;
  margin: 0 0 1rem;
  line-height: 1.2;
  font-weight: normal;
  text-shadow: 1px 1px 0 white;
}

h1 {
  font-size: 3rem;
  font-family: $header-font;
}
h2 {
  font-size: 1.3rem;
  font-style: italic;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5,
h6 {
  font-size: 1.25rem;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 890px) {
    max-width: 890px;
  }
  @media (min-width: 1120px) {
    max-width: 1120px;
  }
}
.home {
  @media (min-width: 600px) {
    header {
      position: relative;
      margin-top: 75px;
    }
    main {
      margin: 0 auto;
    }
    .container {
      max-width: 600px;
    }
  }
}

header {
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $body-bg;
  z-index: 2;
  font-size: 1.4rem;

  @media (min-width: 900px) {
    font-size: 1.5rem;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .nav-toggle {
      display: none;

      &:checked ~ .nav-links {
        right: 0;
      }

      &:checked ~ .nav-toggle-label span {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }

    .nav-toggle-label {
      display: none;
      position: relative;
      z-index: 1000;
      height: 24px;
      width: 30px;
      cursor: pointer;

      span,
      span::before,
      span::after {
        display: block;
        background: $text-color;
        height: 2px;
        width: 30px;
        position: absolute;
        transition: all 0.3s ease;
      }

      span {
        top: 11px;

        &::before,
        &::after {
          content: "";
        }

        &::before {
          top: -8px;
        }

        &::after {
          top: 8px;
        }
      }
    }

    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        position: relative;
        a {
          color: $header-fg;
          display: inline-block;
          position: relative;
          font-family: $header-font;
          text-shadow: 1px 1px 0 black;
          transition: 0.3s color ease-in;
          text-decoration: none;
          text-transform: uppercase;
          padding: 0 1rem;
          &:hover,
          &:active,
          &.active {
            color: $header-fg-active;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        @media (min-width: 600px) {
          & + li {
            &::after {
              content: "";
              display: block;
              background: white;
              width: 2px;
              position: absolute;
              top: 50%;
              left: -1px;
              height: 50%;
              transform: translate(0, -50%);
            }
          }
        }
      }
      @media (min-width: 768px) {
        gap: 0;
        border-radius: 5px;
        background-attachment: fixed;
        a {
          display: block;
          padding: 0.5rem 1rem;
        }
        li:first-child a {
          padding-left: 1.5rem;
        }
        li:last-child a {
          padding-right: 1.5rem;
        }
      }
    }
  }
}

main {
  color: $main-fg;
  text-shadow: 1px 1px 1px black;
  margin: 120px 0 10px;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  a {
    color: $main-fg;
    transition: color 0.3s ease-in;
    &:hover {
      color: $main-link;
    }
  }
  blockquote {
    font-size: 2rem;
    font-style: italic;
  }
  p,
  blockquote,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }
}

footer {
  color: $footer-fg;
  padding: 1rem 0;
  text-align: center;
  font-family: $header-font;
  font-size: 1rem;

  a {
    color: $footer-link;
    &:hover {
      color: $footer-fg;
    }
  }
}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
  }

  label {
    color: $main-fg;
    font-family: $header-font;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }

  input,
  textarea,
  select {
    color: $body-bg;
    body: $main-fg;
    padding: 0.3rem 0.5rem;
    font-family: $system-font;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    &::placeholder {
      color: #888;
    }
    &:focus {
      outline: 1px solid #c00;
      outline-offset: 2px;
    }
  }

  select {
    &:invalid {
      color: #888;
    }
    option {
      color: $body-bg;
      &[value=""] {
        color: #888;
      }
    }
  }

  textarea {
    height: 6rem;
  }

  button {
    font-size: 1.4rem;
    color: $main-fg;
    border-radius: 3px;
    background: $body-bg;
    border: 2px solid $main-fg;
    font-family: $header-font;
    cursor: pointer;

    &.uploadcare--widget__button {
      font-size: 1rem;
    }

    &[type="submit"] {
      font-size: 2rem;
      padding: 0.5rem 1rem;
    }

    &:hover,
    &:active,
    &:focus {
      background: $body-bg;
      border-color: $main-link;
      color: $main-link;
      outline: none;
    }
    &[disabled] {
      background: lighten($body-bg, 30%);
      color: $body-bg;
      cursor: wait;
    }
  }
}

// Responsive design
@media (max-width: 600px) {
  header nav {
    .nav-toggle-label {
      display: block;
    }

    .nav-links {
      position: fixed;
      top: 0;
      right: -100%; /* Start off-screen */
      height: 100vh;
      width: 70%;
      max-width: 300px;
      flex-direction: column;
      gap: 2rem;
      padding: 6rem 2rem 2rem;
      background-color: $body-bg;
      transition: right 0.3s ease-in-out;

      li {
        opacity: 0.9;
        text-align: right;

        a {
          font-size: 2rem;

          &.active::after {
            bottom: -2px;
          }
        }
      }
    }
  }
}
